/* Background: #FFFFFF / #F2F2F2
Header & Buttons: #D52B1E
Text: #2E2E2E
Links: #1F6F54
Hover Effects: #A6191F */


/* ===== GLOBAL COLORS ===== */
body {
  background-color: #FFFFFF;
  color: #2E2E2E;
  max-width: 425px;
}

/* ===== HEADER ===== */
header {
  background-color: #D52B1E;
  height: 100px;
  text-align: center;
  align-content: center;
  width: 100%;
}

header h1 {
  color: #FFFFFF;
}

/* ===== MAIN SECTION BACKGROUND ===== */
main {
  background-color: #F2F2F2;
}

picture img {
    max-width: 95%;
    padding: 5%;
}

/* ===== DATA & WEATHER SECTIONS ===== */
.data-section,
.weather-section {
  background-color: #FFFFFF;
}

.data-section h2,
.weather-section h2 {
    display: grid;
    text-align: center;
}

/* Section titles */
.data-section h2,
.weather-section h2 {
  color: #D52B1E;
}

/* tables */
table {
    width: 100%;
}

table td:first-child {
  text-align: right;
  width: 45%;
  font-weight: bold;
}

table td:last-child {
  text-align: left;
  width: 45%;
}

footer {
  background-color: #2E2E2E;
  color: #FFFFFF;
  position: relative;
  text-align: center;
}

/* Red Canada stripe on top */
footer::before {
  content: "";
  display: block;
  height: 6px;
  background-color: #D52B1E;
  width: 100%;
}

/* Subtle bottom accent */
footer::after {
  content: "";
  display: block;
  height: 3px;
  background-color: #A6191F;
  width: 100%;
}

/* Year highlight */
footer span#year {
  color: #D52B1E;
}