/* Background: #FFFFFF / #F2F2F2
Header & Buttons: #D52B1E
Text: #2E2E2E
Links: #1F6F54
Hover Effects: #A6191F */


/* ===== GLOBAL COLORS ===== */
body {
  background-color: #FFFFFF;
  color: #2E2E2E;
  max-width: 425px;
}

/* ===== HEADER ===== */
header {
  background-color: #D52B1E;
  height: 100px;
  text-align: center;
  align-content: center;
  width: 100%;
}

header h1 {
  color: #FFFFFF;
}

/* ===== MAIN SECTION BACKGROUND ===== */
main {
  background-color: #F2F2F2;
}

picture img {
    max-width: 95%;
    padding: 5%;
}

/* ===== DATA & WEATHER SECTIONS ===== */
.data-section,
.weather-section {
  background-color: #FFFFFF;
}

.data-section h2,
.weather-section h2 {
    display: grid;
    text-align: center;
}

/* Section titles */
.data-section h2,
.weather-section h2 {
  color: #D52B1E;
}

/* tables */
table {
    width: 100%;
}

table td:first-child {
  text-align: right;
  width: 45%;
  font-weight: bold;
}

table td:last-child {
  text-align: left;
  width: 45%;
}

footer {
  background-color: #2E2E2E;
  color: #FFFFFF;
  position: relative;
  text-align: center;
}

/* Red Canada stripe on top */
footer::before {
  content: "";
  display: block;
  height: 6px;
  background-color: #D52B1E;
  width: 100%;
}

/* Subtle bottom accent */
footer::after {
  content: "";
  display: block;
  height: 3px;
  background-color: #A6191F;
  width: 100%;
}

/* Year highlight */
footer span#year {
  color: #D52B1E;
}


@media screen and ( min-width: 500px) {
    
    body {
        max-width: 100vh;
        height: 100vh;
    }

    main  section {
        height: 80vh;
        display: grid;
        grid-template: 40vh 40vh / 1fr 2fr 1fr;
    }

    picture {
        grid-column: 1/4;
        grid-row: 1/3;
    }

    .data-section {
        margin-top: 8vh;
        margin-left: 5vh;
        grid-column: 1/2;
        grid-row: 1/2;
        width: 65% ;
        height: fit-content;
        padding: 10%;
        background-color: #ffffff99;
    }

    .weather-section {
        grid-column: 3/4;
        grid-row: 2/3;
         width: fit-content;
        height: fit-content;
        padding: 10%;
        background-color: #ffffff99;
    }

    .weather-section h2,
    .data-section h2 {
        display: block;
        text-align: left;
        background-color: #1F6F5450;
    }

    h2 {
        font-size: 2rem;
        margin-left: -30px;
        padding: 5px;
    }

    picture img {
        height: 100%;
        max-width: 100%;
        padding: 0%;
    }

}