body { 
    font-family: "Roboto Slab", serif;
    max-width: 640px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: tomato;
    text-decoration: underline;
}

ul {
    position: absolute;
    top: 5%;
    right: 0%;
    left: 0%;
    bottom: 55%;
    list-style: none;
    font-size: 1.5rem;
    background-color: whitesmoke;
    align-content: center;
}

li {
    width: 100%;
    padding: 10px;
    text-align: center;
    margin: auto auto auto -30px;
}

.hidden {
    display: none;
}

header h2 {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
}


main {
    
}

figure, img {
    width: 250px;
    margin: auto;
    text-align: center;
}

main h1 {
    grid-column: 1 / 4;
    text-align: center;
}

footer {
    text-align: center;
}